# OSX Files
Icon?
.DS_Store
._*
xcuserdata/
*.xcscmblueprint
*.xccheckout
/DerivedData/
/*.tar.gz
/client/tools/*.dSYM/
/tools/*.dSYM/

# debugging/profiling data
/callgrind.out.*
/vgcore.*

gmon.out

/platform/wasm/emsdk

# msys2 makepkg files
platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/*
!platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/PKGBUILD
!platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/SDL2_mixer-2.0.1-find_lib.mingw.patch
!platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/SDL2_mixer-2.0.1-libtool_windres.mingw.patch

platform/win/msys2_pkgs/mingw-w64-SDL2/*
!platform/win/msys2_pkgs/mingw-w64-SDL2/PKGBUILD
!platform/win/msys2_pkgs/mingw-w64-SDL2/001-fix-cmake-target-relocation.patch
!platform/win/msys2_pkgs/mingw-w64-SDL2/002-fix-link-order.patch
!platform/win/msys2_pkgs/mingw-w64-SDL2/003-fix-static-library-name.patch
!platform/win/msys2_pkgs/mingw-w64-SDL2/004-dont-duplicate-libs-in-libs-private.patch


# Executables/Object files
/client/make.deps
/server/make.deps
/releases/
/web/releases/
/wolkenwelten
/wolkenwelten.exe
/wolkenwelten-server
/wolkenwelten-server.exe
/client/tools/assets
/client/tools/objparser
/tools/modscg
/tools/modscg.exe
/client/src/shader/*.h
/common/src/tmp/
/client/src/tmp/
/server/src/tmp/
/build/
*.out
*.a
*.lib
*.so
*.o
/src/*.obj
*.dylib
*.exe
*.kate-swp
*.dll
*.core
*.res
/save/

# Blender Backups
*.blend1
