# OSX Files
Icon?
.DS_Store
._*
xcuserdata/
*.xcscmblueprint
*.xccheckout
/DerivedData/
/*.tar.gz
/client/tools/*.dSYM/

# debugging/profiling data
/callgrind.out.*
/vgcore.*

gmon.out

/platform/wasm/emsdk

# Arch makepkg files
platform/linux/arch_pkgs/glew/*
!platform/linux/arch_pkgs/glew/PKGBUILD
platform/linux/arch_pkgs/libjpeg-turbo/*
!platform/linux/arch_pkgs/libjpeg-turbo/PKGBUILD
platform/linux/arch_pkgs/libpng/*
!platform/linux/arch_pkgs/libpng/PKGBUILD
platform/linux/arch_pkgs/sdl2/*
!platform/linux/arch_pkgs/sdl2/PKGBUILD
platform/linux/arch_pkgs/sdl2_image/*
!platform/linux/arch_pkgs/sdl2_image/PKGBUILD
platform/linux/arch_pkgs/sdl2_mixer/*
!platform/linux/arch_pkgs/sdl2_mixer/PKGBUILD
platform/linux/arch_pkgs/zlib/*
!platform/linux/arch_pkgs/zlib/PKGBUILD

# msys2 makepkg files
platform/win/msys2_pkgs/mingw-w64-SDL2_image/*
!platform/win/msys2_pkgs/mingw-w64-SDL2_image/PKGBUILD
platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/*
!platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/PKGBUILD
!platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/SDL2_mixer-2.0.1-find_lib.mingw.patch
!platform/win/msys2_pkgs/mingw-w64-SDL2_mixer/SDL2_mixer-2.0.1-libtool_windres.mingw.patch


# Executables/Object files
/client/make.deps
/server/make.deps
/releases/
/web/releases/
/wolkenwelten
/wolkenwelten.exe
/wolkenwelten-server
/wolkenwelten-server.exe
/client/tools/assets
/client/tools/objparser
/tools/modscg
/tools/modscg.exe
/client/src/shader/*.h
/client/src/tmp/
/server/src/tmp/
/build/
*.out
*.a
*.lib
*.so
*.o
/src/*.obj
*.dylib
*.exe
*.kate-swp
*.dll
*.core
*.res

# Blender Backups
*.blend1
