article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

math,syntaxhighlight,source,code,samp,tt {
	background:#444;
	display:inline-block;
	font-family:monospace,mono;
	border: 1px solid #888;
	padding: 0px 4px;
	-webkit-border-radius: 2px;
	    -moz-border-radius:2px;
	        border-radius: 2px;
}

kbd {
	background:#444;
	display:inline-block;
	font-family:monospace,mono;
	border: 2px solid #666;
	border-bottom-color:#222;
	border-right-color:#222;
	padding: 0px 4px;
	margin-right:2px;
	text-transform:uppercase;
	-webkit-border-radius: 2px;
	    -moz-border-radius:2px;
	        border-radius: 2px;
}

kbd.space {
	min-width:4em;
}

html {
	background: #222;
	background: linear-gradient(0deg, #0f57f9 0%, #4790ff 100%);
	background-attachment: fixed;
	color:#ddd;
	font-family:sans-serif,sans;
	font-size:14px;
	line-height:1.35em;
	padding:0px 1em 1em 1em;
	position:relative;
}

body {
	background:#333;
	background:rgba(48,48,48,0.85);
	padding:0px 1em 1em;
	width:100%;
	max-width:968px;
	margin:0px auto;
	box-sizing:border-box;
	border-radius:0px 0px 1em 1em;
	border:solid 2px #444;
	border-top:none;
	font: inherit;
	z-index:2;
	position:relative;
}

header {
	text-align:left;
	border-bottom:solid 2px #1f4605;
}

header a {
	font-size:3em;
	text-decoration:none;
	display:inline-block;
	margin-right:0.5em;
}
header h1 {
	display:inline-block;
}

footer {
	padding-top:1em;
	border-top:solid 2px #1f4605;
	display:block;
	text-align:right;
}

h1,h2,h3,h4,h5 {
	font-family:sans-serif,sans;
	line-height:1.35em;
	margin-top:0px;
}

h1,h2,h3 {
	font-family:serif;
	color:#1A9609;
	text-shadow:0px -1px 0px #112c01, 0px 1px 0px #112c01, -1px 0px 0px #112c01, 1px 0px 0px #112c01;
}

h4,h5,h6 {
	color:#4af;
}

a {
	color:#4af;
	text-decoration:underline;
	line-height:1.35em;
	font-weight:bold;
}
a:focus {
	text-shadow:0px 0px 4px #4af;
}

sup {
	vertical-align:super;
	font-size:0.7em;
}

sub {
	vertical-align:sub;
	font-size:0.7em;
}

.greytext {
	color:#666;
}

small {
	font-size:0.87em;
}

big {
	font-size:1.2em;
}

b,strong {
	font-weight:bold;
}

i,em {
	font-style:italic;
}

p,ul,ol {
	margin:0.5em 0px;
}

li {
	margin-left:1em;
	margin-bottom:0.1em;
}

ul > li {
	list-style-type: disc;
}

ol > li {
	list-style-type: decimal;
}

pre {
	margin:0px;
	box-sizing:border-box;
	display:block;
	width:100%;
	color:#ddd;
}

h1 {
	font-size:2.2em;
	margin-bottom:0.1em;
}

h2 {
	font-size:1.85em;
	font-weight:bold;
	margin-bottom:0.35em;
}
h3 {
	font-size:1.7em;
	font-weight:bold;
	margin-bottom:0.35em;
}

h4 {
	margin:0px 0px 0.35em;
	font-size:1.3em;
}
h5 {
	margin:0px;
	font-size:0.75em;
	font-style:italic;
	color:#888;
}

hr {
	display:block;
	width:100%;
	height:0px;
	margin:0.75em 0px;
	border:none;
	color:#111;
	border-top:solid 1px #111;
}

video {
	width:100%;
	height:auto;
}

img {
	display:block;
	width:100%;
	height:auto;
	box-sizing:border-box;
}

img.smallthumb {
	width:44%;
	min-width:240px;
	display:inline-block;
	padding:1em;
}

img.tinythumb {
	width:31%;
	min-width:180px;
	display:inline-block;
	padding:0.5em;
}

center {
	text-align:center;
}

header:after {
	content:'';
	display:block;
	position:relative;
	clear:both;
}

span.key {
	display:inline-block;
	font-family:monospace,mono;
	background:#444;
	border:solid 1px #666;
	min-width:1.5em;
	padding:0px 0.25em;
	line-height:1.2em;
	text-align:center;
	border-radius:2px;
	margin-bottom:0.2em;
}

.button {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	border:solid 1px #44ee99;
	background:#ee4499;
	border-radius:4px;
	box-shadow:inset 0px 0px 8px #44ee99;
	padding:0px 1em;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	font-size:1.25em;

	margin:0px 0.25em 0.25em 0.25em;
	position:relative;
}

.buttonlabel {
	padding:0.2em 0.25em;
	display:inline-block;
}
.buttonicon {
	display:inline-block;
	vertical-align:middle;
	margin:0px 0px 0px 8px;
	width:16px;
	height:16px;
	display:inline-block;
}
.wasmdl .buttonicon {
	vertical-align:top;
}

.wasmdl img {
	position:relative;
	top:7px;
}

.imgfw {
	display:block;
	margin:0px 0px 2em 0px;
	width:100%;
	height:auto;
}

.pics img {
	width:30%;
	height:auto;
	display:inline-block;
	margin:0px 0.5em
}

.icon-win {
	background:url("data:image/gif;base64,R0lGODlhEAAQAMIEAP8AAABt/4P/AP/9AP///////////////yH5BAEKAAQALAAAAAAQABAAAAM2CLpAJDAKtpyMVNk7875Z83DhJ5Xj5axs675tIM+BM9z4QM92fu+yng9YI/h+QGGOqMQxjccEADs=");
}
.icon-macos {
	background:url("data:image/gif;base64,R0lGODlhEAAQAMIHAAAAABFUoRhpxhx121B5qGSWz2+m5f///ywAAAAAEAAQAAADTTi6I2AwGrbCk3CJBQgskmIFCgASXVQCQHOx1zSM84V6mbI5uAGqDMsPI+P0iJTOEFPaWGKFWIlUiqCAIwercAMKnhaUEkixEIsMxzkBADs=");
}
.icon-linux {
	background:url("data:image/gif;base64,R0lGODlhEAAQAMIEAAAAAC8uLriIC+OtIc/Jyf///8/Jyc/JySH5BAEKAAcALAAAAAAQABAAAANMeLoAsTC2GWUp4ILKcsOcAgzk0IRHQzYP1xAwQVXfhZ00EMtzdxG2nugD1OAUpVdwtCgNBDqboKSYkgSFYsEqWHAnjWkXIiiDAWVIAgA7");
}
.icon-wasm {
	background:url("data:image/gif;base64,R0lGODlhEAAQAMIAAGVO8Kqqqt3d3f///2VO8GVO8GVO8GVO8CH5BAEKAAQALAAAAAAQABAAAAMwCKrUvhA6EiujNuvNu//RsIjKIFQkcALkurhrHMGKYAczq+ovJOC2XW+BUwAhRVACADs=");
}

@media only screen and (max-device-width: 480px) {
	img.tinythumb,
	img.smallthumb,
	img {
		width:100%;
		padding:0px 1em;
	}
}

@media (min-width: 768px) {
	.row {
		display:block;
		border-bottom:solid 1px #c48;
		padding-bottom:0.5em;
		margin-bottom:1.5em;
	}

	.col50 {
		display:inline-block;
		width:49%;
		box-sizing:border-box;
		padding:0px 1em;
		vertical-align:top;
	}

	.col50:first-child {
		padding-left:0px;
	}
	.col50:last-child {
		padding-right:0px;
	}

	.col50 hr {
		display:none;
	}
}
